<%= render(My::WorkingTimesHeaderComponent.new) %>

<h1>Current Working Hours</h1>
<pre><%= @current_working_hours.pretty_inspect %></pre>

<h1>All Working Hours</h1>
<pre><%= @working_hours.pretty_inspect %></pre>
